<section class="testimonials-section" *ngIf="testimonials?.length">
  <div class="meet">
    <p appScrollAnimate><span><i class="pi pi-bookmark-fill"></i></span> Testimonials</p>
  </div>

  <h1 class="section-title" appScrollAnimate>Clients say about me</h1>

  <div class="carousel-wrapper" appScrollAnimate>
    <p-carousel
      [value]="testimonials"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="6000"
      [showIndicators]="false"
      [showNavigators]="false"
    >
      <ng-template pTemplate="item" let-t>
        <div class="testimonial-card">
          <div class="client-row">
            <img [src]="t.avatar" [alt]="t.name" class="client-avatar" />

            <div class="client-info">
              <h3>{{ t.name }}</h3>
              <p class="role">{{ t.role }}</p>
              <p-rating
                [ngModel]="t.rating"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </div>
          </div>

          <p class="feedback">{{ t.feedback }}</p>

          <a *ngIf="t.link" [href]="t.link" target="_blank" class="project-link">
            Project Page <i class="pi pi-arrow-right"></i>
          </a>
        </div>
      </ng-template>
    </p-carousel>

    <!-- ✅ Custom Bottom Navigators -->
    <div class="custom-nav">
      <button pButton type="button" icon="pi pi-angle-left" class="nav-btn prev" (click)="prev()"></button>
      <button pButton type="button" icon="pi pi-angle-right" class="nav-btn next" (click)="next()"></button>
    </div>
  </div>
</section>
