<div class="card" >
  <div class="d-flex flex-row heading gap-2">
    <img src="/assets/imges/logo.png" width="80px" height="65px" alt="" />
    <h1 class="">Adel Akram Shabayek</h1>
  </div>
  <img src="/assets/imges/me3.jpg" class="card-img-top hero-img" alt="..." />

  <div class="card-body">
    <h5 class="card-title">Specialization:</h5>
    <p class="card-text">Front-End Developer with Angular .</p>

    <h5 class="card-title">Based in:</h5>
    <p class="card-text">Egypt, North Sinai.</p>

    <!-- Icons -->

    <div class="social-buttons d-flex flex-wrap justify-content-center gap-2">
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/adel-shabayek" target="_blank" class="social-btn p-button p-button-rounded p-button-text">
    <span class="front">
      <i class="pi pi-linkedin"></i>
    </span>
    <span class="back">
      <i class="pi pi-linkedin"></i>
    </span>
  </a>

  <!-- GitHub -->
  <a href="https://github.com/adelshabayek" target="_blank" class="social-btn p-button p-button-rounded p-button-text">
    <span class="front">
      <i class="pi pi-github"></i>
    </span>
    <span class="back">
      <i class="pi pi-github"></i>
    </span>
  </a>

  <!-- X / Twitter -->
  <a href="https://x.com/Adell_Shabayek" target="_blank" class="social-btn p-button p-button-rounded p-button-text">
    <span class="front">
      <i class="pi pi-twitter"></i>
    </span>
    <span class="back">
      <i class="pi pi-twitter"></i>
    </span>
  </a>

  <!-- Instagram -->
  <a href="https://instagram.com" target="_blank" class="social-btn p-button p-button-rounded p-button-text">
    <span class="front">
      <i class="pi pi-instagram"></i>
    </span>
    <span class="back">
      <i class="pi pi-instagram"></i>
    </span>
  </a>

  <!-- Email -->
  <a href="mailto:adelshabayek@gmail.com" class="social-btn p-button p-button-rounded p-button-text">
    <span class="front">
      <i class="pi pi-envelope"></i>
    </span>
    <span class="back">
      <i class="pi pi-envelope"></i>
    </span>
  </a>
</div>


    <!-- let's work  -->
    <div class="text-center pt-2 mb-3">
      <button mat-raised-button class="talk-btn">
        <span class="front2">Let’s Work Together!</span>
        <span class="back2">Let’s Work Together!</span>
      </button>
    </div>
  </div>
</div>
