

<!-- 🌈 Main Container -->
<section class="dark content">
  <div class="container-fluid">
    <div class="row g-0">
      <!-- card  -->
      <div class="col-md-3 col-sm-12 side-card">
        <app-card appScrollAnimate class="app-1"></app-card>
      </div>

      <!-- content -->
      <div class="col-md-9 col-sm-12 side-content">
        <div>
          <!--  Header -->
          <app-header class="app-2"></app-header>
        </div>

        <div class="sections">
          <section id="home" class="home " ><app-home></app-home></section>

          <section id="about" class="about" ><app-about></app-about></section>

          <section id="resume" class="resume" >
            <app-resume></app-resume>
          </section>

          <section id="portfolio" class="portfolio" >
            <app-project></app-project>
          </section>

          <section class="portfolio" >
            <app-testimonials></app-testimonials>
          </section>

          <section id="contact" class="contact" ><app-footer></app-footer></section>
        </div>
      </div>
    </div>
  </div>

  <!--  Global Footer -->
</section>
