<section class="about-section" *ngIf="aboutData">
  <div class="meet" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
    <p>
      <span><i class="pi pi-bookmark-fill"></i></span> {{ aboutData.greeting }}
    </p>
  </div>

  <h1 pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">{{ aboutData.title }}</h1>

  <!-- 💎 Skills Icons Section -->
    <div class="skills-grid text-center mb-5" >
      <div class="skill-item" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false" *ngFor="let skill of aboutData.skills">
        <i [class]="skill.icon + ' skill-icon'"></i>
        <p>{{ skill.text }}</p>
      </div>
    </div>

  <div class="row pt-3">
    <div class="col-md-8">
      <p class="disc pe-3" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
        {{ aboutData.description1 }}
        <br />
        {{ aboutData.description2 }}
        <br />
        {{ aboutData.description3 }}
      </p>
    </div>

    <div class="col-md-4" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
      <div
        class="info"
        *ngFor="let field of ['name', 'whatsapp', 'email', 'location']"
      >
        <h5 >{{ field | titlecase }}</h5>
        <p > {{ aboutData[field] }}</p>
      </div>
    </div>

    <!-- let's work  -->
    <div class="text-start pt-3 mb-1" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
      <button mat-raised-button class="talk-btn">
        <span class="front2">Contact Me</span>
        <span class="back2">Contact Me</span>
      </button>
    </div>

    

    
  </div>
</section>
