<section
  class="hero-section text-left d-flex align-items-left justify-content-left"
>
  <div *ngIf="heroData" >
    <div class="meet" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
      <p>
        <span><i class="pi pi-bookmark-fill"></i></span> {{ heroData.greeting }}
      </p>
    </div>


    <div class="heading" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
      <h1 class="hero-title">
        {{ heroData.name }}
       <br>
        {{ heroData.object }}
      </h1>
  
    </div>
    <div class="example-button-row pt-4" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" [once]="false">
      <button
        mat-stroked-button
        class="btn-outline"
        (click)="scrollTo('portfolio')"
      >
        <span class="front"
          >{{ heroData.buttonText }} <i class="pi pi-th-large"></i
        ></span>
        <span class="back"
          >{{ heroData.buttonText }} <i class="pi pi-th-large"></i
        ></span>
      </button>
    </div>
  </div>
</section>
