.projects-section {
  font-family: "Syne", sans-serif;
  text-align: left;
  margin-bottom: 100px;

  .meet p {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 25px;
    color: #666;
    font-size: 13px;
    i {
      color: #7c3aed;
      font-size: 10px;
    }
  }

  h2 {
      font-size: 30px;
      font-weight: bold;
    color: #333;
      margin-bottom: 30px;
       font-family: "Syne", sans-serif;
      i {
        margin-right: 8px;
        font-size: 25px;
      }
    }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
  }

  .project-card {
    position: relative;
    height: 320px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;

    .project-image {
      width: 100%;
    //   margin: 12px;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s ease;
      transform: scale(1);


      /* 🔥 عندما العنصر يظهر */
      .show-section & {
        transform: scale(1);
        opacity: 1;
      }
    }

    &:hover .project-image {
      transform: scale(1.1);
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;

      .visit-btn {
        background: white;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7c3aed;
        font-size: 1.4rem;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          background: #7c3aed;
          color: #fff;
          transform: scale(1.15);
        }
      }
    }

    &:hover .overlay {
      opacity: 1;
    }

    .tech-stack {
      position: absolute;
      bottom: 15px;
      left: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      .tech-badge {
        background: rgba(255, 255, 255, 0.9);
        color: #7c3aed;
        border-radius: 12px;
        padding: 5px 10px;
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    .project-card {
      height: 260px;
    }
  }
}
