<footer class="footer-section" >
  <div class="footer-container" >
    <!-- 🌐 Social Links -->
    <div class="social-icons "  >
      <a href="https://github.com/adelshabayek" class="icon">
        <span class="front">
          <i class="pi pi-github"></i>
        </span>
        <span class="back">
          <i class="pi pi-github"></i>
        </span>
      </a>

      <a
        href="https://www.linkedin.com/in/adel-shabayek"
       
        class="icon"
      >

        <span class="front">
          <i class="pi pi-linkedin"></i>
        </span>
        <span class="back">
          <i class="pi pi-linkedin"></i>
        </span>
      </a>

      <a href="https://x.com/Adell_Shabayek" class="icon">
        <span class="front">
          <i class="pi pi-twitter"></i>
        </span>
        <span class="back">
          <i class="pi pi-twitter"></i>
        </span>
      </a>

      <a href="https://www.instagram.com/adel_shabayek12/" class="icon">
        <span class="front">
          <i class="pi pi-instagram"></i>
        </span>
        <span class="back">
          <i class="pi pi-instagram"></i>
        </span>
      </a>

      <a href="https://www.facebook.com/share/1A5igtnRtx/"  class="icon">
        <span class="front">
          <i class="pi pi-facebook"></i>
        </span>
        <span class="back">
          <i class="pi pi-facebook"></i>
        </span>
      </a>
    </div>

    <!-- 💬 Contact text -->
    <p class="contact-text"  >
      Want to know more about me, tell me about your project, or just say hello?
      Drop me a line and I’ll get back to you as soon as possible.
    </p>

    <!-- 📍 Info -->
    <div class="footer-info" *ngIf="contact"  >
      <div class="info-item">
        <h5>Location</h5>
        <p>{{contact.location}}</p>
      </div>
      <div class="info-item">
        <h5>Phone</h5>
        <p>{{contact.number}}</p>
      </div>
      <div class="info-item">
        <h5>Email</h5>
        <p>{{contact.mail}}</p>
      </div>
    </div>
  </div>

  <!-- 🧾 Bottom line -->
  <div class="footer-bottom"  >
    <p>© <span>{{ currentYear }}</span> Adel Shabayek — All Rights Reserved</p>
  </div>
</footer>
